openapi: 3.0.3
info:
  title: Dataverse Access Pids API
  description: 'Open source research data repository software. — DataverseNL installation (v6.9) hosting the Maastricht University research data collection (alias: maastricht). Spec retrieved live from https://dataverse.nl/openapi and saved faithfully as OpenAPI 3.0.3.'
  version: '6.9'
servers:
- url: https://dataverse.nl/api
  description: DataverseNL production REST API (hosts the Maastricht University collection at /dataverse/maastricht)
tags:
- name: Pids
paths:
  /pids:
    get:
      operationId: Pids_getPid
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/providers:
    get:
      operationId: Pids_getPidProviders
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/providers/{persistentId}:
    get:
      operationId: Pids_getPidProviderId
      parameters:
      - name: persistentId
        in: path
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/unreserved:
    get:
      operationId: Pids_getUnreserved
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/{id}/delete:
    delete:
      operationId: Pids_deletePid
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/{id}/reserve:
    post:
      operationId: Pids_reservePid
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
