openapi: 3.0.3
info:
  title: Dataverse Access replaceFilesInDataset API
  description: 'Open source research data repository software. — DataverseNL installation (v6.9) hosting the Maastricht University research data collection (alias: maastricht). Spec retrieved live from https://dataverse.nl/openapi and saved faithfully as OpenAPI 3.0.3.'
  version: '6.9'
servers:
- url: https://dataverse.nl/api
  description: DataverseNL production REST API (hosts the Maastricht University collection at /dataverse/maastricht)
tags:
- name: replaceFilesInDataset
  description: Replace a file to a dataset
paths:
  /datasets/{id}/replaceFiles:
    post:
      tags:
      - replaceFilesInDataset
      summary: Replace a set of files to a dataset
      description: Replace a set of files to a dataset
      operationId: Datasets_replaceFilesInDataset
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: string
      responses:
        '200':
          description: Files replaced successfully to dataset
  /files/{id}/replace:
    post:
      tags:
      - replaceFilesInDataset
      summary: Replace a file on a dataset
      description: Replace a file to a dataset
      operationId: Files_replaceFileInDataset
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: string
      responses:
        '200':
          description: File replaced successfully on the dataset
