openapi: 3.0.3
info:
  title: Dataverse Access Meta API
  description: 'Open source research data repository software. — DataverseNL installation (v6.9) hosting the Maastricht University research data collection (alias: maastricht). Spec retrieved live from https://dataverse.nl/openapi and saved faithfully as OpenAPI 3.0.3.'
  version: '6.9'
servers:
- url: https://dataverse.nl/api
  description: DataverseNL production REST API (hosts the Maastricht University collection at /dataverse/maastricht)
tags:
- name: Meta
paths:
  /meta/datafile/{fileId}:
    get:
      operationId: Meta_datafile
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: exclude
        in: query
        schema:
          type: string
      - name: fileMetadataId
        in: query
        schema:
          format: int64
          type: integer
      - name: include
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/xml:
              schema:
                type: string
      deprecated: true
      tags:
      - Meta
  /meta/dataset/{datasetId}:
    get:
      operationId: Meta_dataset
      parameters:
      - name: datasetId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: exclude
        in: query
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                type: string
      deprecated: true
      tags:
      - Meta
